.row
  .text-center
    %h3 #{@total_count} Beta Registrations
  .small-4.columns
    .text-center
      %h3 #{@buyers_count} Buyers
  .small-4.columns
    .text-center
      %h3 #{@sellers_count} Sellers
  .small-4.columns
    .text-center
      %h3 #{@both_count} Both

  %table.small-12.columns
    %tr
      %th Id
      %th Email
      %th Role
      %th Referrals

    - @waitlists.each do |waitlist|
      %tr
        %td= waitlist.id
        %td= waitlist.email
        %td= waitlist.role
        %td= waitlist.signup_count
