.row
  .message-wrapper.rounded-panel
    .message-sidebar.small-2.columns
      %ul
        %li{class: label.match(/inbox/i) ? 'active' : nil}
          = link_to user_messages_path(@user, 'inbox') do
            %span.help-icon.inbox
              %i.icon.ion-android-inbox
            Inbox
        -# %li{class: label.downcase.match(/starred/) ? 'active' : nil}
        -#   = link_to user_messages_path(@user, 'starred') do
        -#     %span.help-icon.star
        -#       %i.icon.ion-star
        -#     Starred
        %li{class: label.match(/sent/i) ? 'active' : nil}
          = link_to user_messages_path(@user, 'sent') do
            %span.help-icon.email
              %i.icon.ion-email
            Sent
        %li{class: label.match(/trash/i) ? 'active' : nil}
          = link_to user_messages_path(@user, 'trash') do
            %span.help-icon.trash
              %i.icon.ion-ios7-trash
            Trash

    .message-list.small-10.columns
      .list-header.small-12.columns.no-padding
        = link_to "javascript:void(0)" do
          .message-selector.select-all
            %input#checkbox1{type: "checkbox"}
            Select All
        -# %a{ :href => "#"}
        -#   .message-selector
        -#     %i.icon.ion-alert-circled
        -#     Report Spam
        = link_to '#' do
          .message-selector.delete
            %i.icon.ion-ios7-trash
            Delete
        - if label.match(/trash/i)
          = link_to '#' do
            .message-selector.undelete
              %i.icon.ion-alert-circled
              Move to Inbox
      %ul
        - conversations.each do |conversation|
          - message = conversation.last_message
          - message_from = message.sender
          - message_to = message.recipients.select{ |o| o.id != current_user.id }.first if label.match(/sent/i)
          %li.message-summary.clearfix{class: [message.is_read?(current_user) ? 'read' : 'new']}
            = link_to '#', class: 'small-12 columns message-expand', :'data-conversation-id' => conversation.id do
              .message-actions
                %input{type: "checkbox", :'data-conversation-id' => conversation.id}

              .participant= label.match(/sent/i) ? message_to.try(:full_name) : message_from.try(:full_name)
              .time-stamp= today_time(message.created_at)
              %h6
                %i.icon.ion-ios7-star{class: nil}
                = message.subject
              %p= message.body

        - 0.times do
          %li.message-summary.clearfix
            %a.small-12.columns{:href => "#"}
              .message-actions
                %input#checkbox1{:type => "checkbox"}

              .participant Josh Fabian
              .time-stamp Today, 12:52pm
              %h6
                %i.icon.ion-ios7-star
                Baby Leatherback Bearded Dragon
              %p Hey, I was just wondering if you could give me some info on shipping. I'm available Wednesdays and Thursdays but ...