.message-list.small-10.columns
  .message-title.small-12.columns
    %h4
      %i.icon.ion-star
      = @conversation.subject
  .listing-notify.small-12.columns
    This message is in regard to your listing
    = link_to @listing.title, user_listing_path(@listing.user, @listing)

  %hr

  - @receipts.each do |receipt|
    - message = receipt.message
    - sender = message.sender
    - receiver = (@participants - [sender]).first

    .sender-bar.small-12.columns
      - if receipt.mailbox_type.match(/sent/)
        .message-form
          = image_tag user_avatar_image_thumbnail(@user.avatar_image, 30)
          me to
          = link_to receiver.handle, '#', class: 'disabled'
      - else
        .message-from
          = image_tag user_avatar_image_thumbnail(sender.avatar_image, 30)
          = link_to sender.handle, "#", class: 'disabled'
          to me
      .time-date
        = today_time(message.created_at)
    %hr
    .message-contents
      %p= message.body

  -# %hr
  -# .sender-bar.small-12.columns
  -#   .message-from
  -#     = image_tag "http://www.placehold.it/30/30"
  -#     me to
  -#     = link_to "Sanjay Kapoor", "#"
  -#   .time-date
  -#     Today, 12:05pm

  %hr

  .message-reply.clearfix{:'data-conversation-id' => @conversation.id}
    = image_tag user_avatar_image_thumbnail(@user.avatar_image, 50), class: "user-avatar"
    %textarea{placeholder: "Submit a reply ...", class: 'message-body'}
    = link_to 'Send Message', '#', class: 'button submit-message'

  %hr

      