.row
  .message-wrapper.rounded-panel
    .message-sidebar.small-2.columns
      %ul
        %li.active 
          = link_to "#" do
            %span.help-icon.inbox
              %i.icon.ion-android-inbox
            Inbox
        %li 
          = link_to "#" do
            %span.help-icon.star
              %i.icon.ion-star
            Starred
        %li 
          = link_to "#" do
            %span.help-icon.email
              %i.icon.ion-email
            Sent
        %li 
          = link_to "#" do
            %span.help-icon.trash
              %i.icon.ion-ios7-trash
            Trash
      
    .message-list.small-10.columns
      .message-title.small-12.columns
        %h4
          %i.icon.ion-star 
          Leatherback Bearded Dragon
      .listing-notify.small-12.columns
        This message is in regard to your listing
        = link_to "Leatherback Bearded Dragon", "#"
      %hr
      .sender-bar.small-12.columns
        .message-from
          = image_tag "http://www.placehold.it/30/30"
          = link_to "Sanjay Kapoor", "#"
          to me
        .time-date
          Today, 12:03pm
      %hr
      .message-contents
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tincidunt ante at turpis ullamcorper, id interdum sapien malesuada. Donec mattis laoreet posuere. Vestibulum laoreet viverra elit at faucibus. Praesent ac sapien non ligula tincidunt imperdiet id vel dui. Proin rutrum elit gravida elit iaculis placerat. Maecenas sodales odio vitae leo consequat volutpat. Aliquam hendrerit sed leo in porta. Fusce eleifend tincidunt est, non consectetur dolor pretium vitae. Proin eleifend est non justo fringilla cursus. Integer sit amet dictum quam. Praesent varius lacus at ultrices dictum. Donec at eros dictum, egestas orci eget, mollis metus.

        %p Suspendisse accumsan justo id tincidunt elementum. Integer laoreet sem id erat fermentum ultrices. Sed sodales, sem ut mollis lacinia, mi est lobortis dolor, ut interdum diam orci ut ante. Vestibulum auctor tellus ac interdum mattis. Nunc ultrices viverra tortor, quis egestas ipsum congue non. Donec auctor nunc convallis hendrerit placerat. Nulla in porttitor ipsum. Pellentesque eget fermentum ligula, vel tempus augue. Praesent eget lorem quis turpis semper pulvinar ac et arcu. Donec mattis odio sit amet magna ullamcorper, tincidunt pharetra nunc adipiscing. Suspendisse potenti. Aenean id neque fringilla, iaculis urna faucibus, dignissim dolor. Nam iaculis dui nec vulputate lobortis. Cras velit sem, vehicula eu ligula at, vehicula interdum purus. Maecenas sed vestibulum risus.
      %hr
      .sender-bar.small-12.columns
        .message-from
          = image_tag "http://www.placehold.it/30/30"
          me to
          = link_to "Sanjay Kapoor", "#"
        .time-date
          Today, 12:05pm
      %hr
      .message-contents
        %p Fusce gravida gravida risus dapibus rhoncus. Suspendisse bibendum condimentum lectus. Curabitur lobortis id magna non fringilla. Phasellus tristique diam mauris, a tristique nisl gravida quis. Nullam malesuada justo tincidunt nisl eleifend hendrerit. Integer ullamcorper et dolor vel volutpat. Integer eget libero condimentum justo tincidunt suscipit. Curabitur auctor ipsum odio, vel mollis diam vehicula quis. Duis tincidunt, arcu ut porttitor bibendum, justo nisi ultricies orci, accumsan aliquet dui massa id leo.
      %hr
      .message-reply.clearfix
        = image_tag "http://www.placehold.it/50/50", :class => "user-avatar"
        %textarea{:placeholder => "Submit a reply ..."}
        %a.button.submit-message{:href => "#"} Send Message



      