.row
  %h5
    - if @category.present?
      = link_to @category.name, listing_category_path(@category.name.parameterize)
      - if @subcategory.present?
        %i.icon.ion-ios7-arrow-forward
        = @subcategory.name
  %ul.small-block-grid-4
    - @listings.each do |listing|
      - user = listing.user
      - image = listing.primary_image
      %li
        -# = link_to listing_path(listing.id) do
        = link_to user_listing_path(user, listing.id) do
          .listing-panel
            -# = image_tag "http://www.placehold.it/235/200", :class => "grid-thumb"
            = image_tag cloudinary_url(image.full_public_id, transformation: [{width: 235, height: 200, crop: 'fill'}])
            .listing-info
              .title
                = listing.title
              .breeder
                Joshfbaian
              .price
                $149.99