-# custom error message
-# %label.error.hide{for: "shipping-to-checkbox", generated: true} This is a different error text.

%table.shipping-table
  - if @countries.present?
    %thead
      %tr
        %th.ship-to Ships to
        %th Shipping Cost

    %tbody
      -# specific countries
      - @countries.each do |country|
        %tr
          - value = @shipping_prices[country.try(:code)]
          - checked = value.present?
          %td.country
            .input-group-location
              = check_box "listing", "shipping_prices[#{country.try(:code)}]", {checked: true, class: 'listing-shipping-from-checkbox required', id: 'shipping-from-country', title: 'Location is required'}, 1, 0
              %label{for: "shipping-from-country"}= country.try(:name)
          %td
            .input-group.price-input
              %label $
              %input.money.text.text-small{type: "text", placeholder: "0.00", name: "listing[shipping_prices][#{country.try(:code)}]", value: value, class: ['required'], title: 'Cost is required'}

      -# international
      %tr
        - value = @shipping_prices['international']
        - checked = value.present?
        %td.country
          .input-group-location
            = check_box "listing", "shipping_prices[international]", {checked: checked, class: ['listing-shipping-from-checkbox'], id: 'shipping-from-international'}, 1, 0
            %label{for: "shipping-from-international"} International
            %span.has-tip.tip-top{"data-tooltip" => "", title: "Sets the shipping costs for EVERY country not covered by country specific shipping costs. <br>This is optional."}
              %i.icon.ion-help-circled

        %td
          .input-group.price-input
            %label $
            %input.money.text.text-small{type: "text", placeholder: "0.00", name: "listing[shipping_prices][international]", value: value, class: [checked ? 'required' : nil], title: 'Cost is required'}

      -# local
      %tr
        - value = @shipping_prices['local']
        - checked = value.present?
        %td.country
          .input-group-location
            = check_box "listing", "shipping_prices[local]", {checked: checked, class: ['listing-shipping-from-checkbox'], id: 'shipping-from-local'}, 1, 0
            %label{for: "shipping-from-local"} Local Pickup
            %span.has-tip.tip-top{"data-tooltip" => "", title: "Allows buyers to come to you and pick up the animal in person."}
              %i.icon.ion-help-circled

        %td
          .input-group.price-input
            %label $
            %input.money.text.text-small{type: "text", placeholder: "0.00", name: "listing[shipping_prices][local]", value: value, class: [checked ? 'required' : nil], title: 'Cost is required'}
