.user-widget
  .author-image.small-3.columns
    = image_tag user_avatar_image_thumbnail(@owner.avatar_image)
  .author-name.small-9.columns
    %h5= link_to @owner.handle, user_path(@owner)
    / %p= @owner.city_state
    = link_to 'Follow', '#', class: ['button', 'follow-button', 'orange-button', 'track-user-profile-view'], :'data-follow-id' => @owner.id
  .author-bio.small-12.columns
    %p= @owner.about

  - if @owner_listings.present?
    .more-from-author.small-12.columns
      %span More from <strong>#{@owner.handle}</strong>
      .more-listings
        %ul.small-block-grid-2
          - @owner_listings.each do |other_listing|
            = render(partial: "listings/listing_tile", locals: {listing: other_listing, user: other_listing.user})