- if @listing.sold?
  .button.sold-button
    This reptile has sold
- elsif current_user.try(:id) == @user.id
  = link_to 'Edit Listing', user_edit_listing_path(@user, @listing.id), class: ['button', 'edit-listing']
  = link_to 'Mark as Sold', user_edit_listing_path(@user, @listing.id), class: 'button edit-listing remove-button', :'data-listing-id' => @listing.id
- else
  = select_tag "listing[shipping_to]", options_for_select(listing_shipping_prices_options(@listing)), class: 'shipping-selector shipping-dropdown', prompt: "Select Shipping", :'data-listing-id' => @listing.id
  = link_to 'Checkout with Paypal', '#', class: 'button buy-button checkout-1 secondary'
  = link_to 'Ask a question', '#', class: 'button ask-question', :'data-reveal-id' => 'listing-message-modal'
  = link_to 'Report Listing', '#', class: 'remove-link', :'data-reveal-id' => 'listing-report-modal'

.social-links
  .fb-share-button{"data-type" => "button_count"}
  %a.twitter-share-button{"data-lang" => "en", :href => "https://twitter.com/share"} Tweet
  :javascript
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
