- image = listing.primary_image
- review = local_assigns.fetch :review, :na

%li.listing.track-listing-peek{:'data-listing-id' => listing.id}
  = link_to user_listing_path(user, listing) do
    .listing-panel
      - if review == :completed
        .review-button.reviewed
          = link_to 'View Review', user_reviews_path(user)
      - elsif review == :pending
        .review-button
          = link_to 'Post Review', new_listing_review_path(user, listing)
      = image_tag listing_image_tile(image)
      .listing-info
        .title
          = listing.title
        .breeder
          = user.handle
        .price
          = number_to_currency(listing.price/100.0, precision: 2)