.row
  - if @listings.blank?
    -# Empty State
    = render(partial: "listings/category_empty")
  - else
    %h5
      - if @category.present?
        All 
        = @category.name
        - if @subcategory.present?
          %i.icon.ion-ios7-arrow-forward
          = @subcategory.name
    %ul.list-grid.small-block-grid-4#listings
      - @listings.each do |listing|
        = render(partial: "listings/listing_tile", locals: {listing: listing, user: listing.user})

    = paginate(@listings)
