%hr
%h5.highlight Select a shipping option:

.small-12.columns.shipping-country-wrapper
  = radio_button 'listing', 'local_pickup', 0, checked: true, class: 'shipping-country-radio'
  = select_tag "listing[shipping_to]", options_for_select(listing_shipping_prices_options(@listing)), class: 'shipping-selector', prompt: nil, :'data-listing-id' => @listing.id
.small-12.columns.shipping-local-pickup-wrapper{:'data-listing-id' => @listing.id}
  = radio_button 'listing', 'local_pickup', 1, checked: false, class: 'shipping-local-radio'
  %label{for: "listing_local_pickup_1", :'data-shipping-price' => 0} Local Pickup in Chicago, IL
%hr
.small-12.columns.no-padding
  %ul
    %li.checkout-subtotal
      .small-9.columns.text-right
        subtotal:
      .small-3.columns.text-left.price
        = number_to_currency(@listing.price/100.0)
    %li.checkout-shipping
      .small-9.columns.text-right
        shipping:
      .small-3.columns.text-left.price
    %li.checkout-total
      .small-9.columns.text-right
        %strong Total:
      .small-3.columns.text-left.price
        %strong

= link_to 'Checkout with Paypal', '#', class: 'button buy-button checkout', :'data-listing-id' => @listing.id
