= content_for :title, @title

.row
  .new-listing.small-8.columns.small-centered
    %h3.text-center= @title
    .listing-welcome
      %h4.text-center Guidelines
      %p Please follow our marketplace guidelines to help maintain an exceptional experience for both buyers and sellers.
      %ul
        %li Each listing should represent a single product just like it would on eBay or Amazon.
        %li Every listing is linked directly to your Paypal account allowing shoppers to pay you directly with a click.
        %li The price paid to you via Paypal will be the sum of your price and the shipping option the buyer selects, you keep 100% of the money, we DO NOT take a cut.
        %li Do not put any contact information or links in your listing, shoppers can checkout directly via your Paypal and reach you via private message.

    = form_for(@listing, as: :listing, html: {class: ["form-validation", "listing-edit"], :'data-user-id' => current_user.id.to_i, :'data-listing-id' => @listing.id.to_i, :'data-facebook-permission' => current_user.facebook_share_permission? ? 'share' : 'basic'}) do |f|
      .rounded-panel
        .listing-field
          %label What is it?
          .small-12.columns.no-padding{class: "category-wrapper", :'data-category-level' => 1, :'data-category-name' => @category.try(:name)}
            = render(partial: "listings/edit_categories", locals: {categories: @root1_categories, selected: @category, prompt: "Reptile Categories", level: 1})
          .small-12.columns.no-padding{class: "category-wrapper", :'data-category-level' => 2, :'data-category-name' => @subcategory.try(:name)}
            = render(partial: "listings/edit_categories", locals: {categories: @root2_categories, selected: @subcategory, prompt: "Reptile Sub-Category", level: 2})
        %hr
        .listing-field
          %label Title
          = f.text_field :title, autofocus: false, required: true, class: nil, placeholder: "Try to describe your reptile the way a buyer would.", disabled: !@listing.editable?
        %hr
        .listing-field
          %label Photos
          %ul
            %li Use up to 5 different images to better increase the chances of selling.
            %li Recommended image size is 600 (width) x 400 (height).
          %ul.image-grid.small-block-grid-5
            = render(partial: "listings/edit_images")
          -# custom error message
          %label.error.no-images{style: 'display: none;'} At least one image is required
        %hr
        .listing-field
          %label Description
          = f.text_area :description, autofocus: false, required: true, class: nil, disabled: !@listing.editable?, placeholder: "Try to answer the questions buyers will have. Tell the reptile's story and explain why it's special."
        %hr 
        .listing-field
          %label Price
          .small-3.columns{:style => "padding: 0;"}
            = f.text_field :price, autofocus: false, required: true, class: "numeral price", disabled: !@listing.editable?, placeholder: "$0.00", :'data-number' => @listing.price

        %hr 
        .listing-field
          = render(partial: "listings/edit_shipping")

        - if feature(:story_facebook_share)
          .social-share
            = f.check_box :facebook_share, checked: current_user.facebook_share_listing.to_i == 1
            %label{for: "listing_facebook_share"} Share this listing on Facebook

        .div.edit-timer
          You have 3 days to edit your listing after it's published.  After this time it is locked.

        - if @listing.editable?
          = f.submit @save_title, class: 'button'

-# crop modal
.reveal-modal.medium.listing-image-crop#image-crop-modal{:'data-reveal' => ''}
  = render(partial: "listings/listing_image_crop_modal")