:css
  .global-subhead {
    border-bottom: none;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

- # Show only on index
- if !user_signed_in?
  = render partial: "listings/guest_message"
  
- if @category.present?
  .category-header.small-12.columns{:style => "background-image: url('#{category_cover_image(@category)}')"}
    .overlay
    .category-nav
      .row
        %h1= @category.try(:name)
        %hr
        %ul.centered-inline-list
          - @subcategories.each do |child|
            %li= link_to child.name, "#"

.row
  %h5 Recent Listings
  %ul.small-block-grid-4
    - @listings.each do |listing|
      - user = listing.user
      - image = listing.primary_image
      %li
        -# = link_to listing_path(listing.id) do
        = link_to user_listing_path(user, listing.id) do
          .listing-panel
            -# = image_tag "http://www.placehold.it/235/200", :class => "grid-thumb"
            = image_tag cloudinary_url(image.full_public_id, transformation: [{width: 235, height: 200, crop: 'fill'}])
            .listing-info
              .title
                = listing.title

