:css
  .global-subhead {
    border-bottom: none;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

- # Show only on index
- if !user_signed_in?
  = render partial: "listings/guest_message"

- if @category.present?
  .category-header.small-12.columns{:style => "background-image: url('#{category_cover_image(@category)}')"}
    .overlay
    .category-nav
      .row
        %h1= @category.name
        %hr
        %ul.centered-inline-list
          - @subcategories.each do |child|
            %li= link_to child.name, listing_category_path(@category.name.parameterize, child.name.parameterize)

= render(partial: "listings/listing_tiles")

