- content_for :title, @title

.row
  .text-center
    %h5
      #{User.with_roles(:seller).count} Sellers
      == :
      #{Listing.active.count} Active Listings
      == :
      #{Listing.sold.count} Sold Listings

  %table.tiny.floating-table.small-12.columns#listings
    %tr
      %th Id
      %th Handle
      %th Title
      %th State
      %th Views
      %th Created

    - @listings.each do |listing|
      - user = listing.user
      %tr.listing
        %td= listing.id
        %td{style: 'width: 170px !important;'}= link_to user.handle, user_path(user)
        %td.name-cell= link_to listing.title.truncate(50), user_listing_path(user, listing)
        %td= listing.state
        %td= listing.views_count
        %td.date-cell #{time_ago_in_words(listing.created_at)} ago

  = paginate @listings