- content_for :title, @title

.row
  .text-center
    %h5
      #{User.with_roles(:seller).count} Sellers
      == :
      #{Listing.active.count} Active Listings
      == :
      #{Listing.sold.count} Sold Listings

  %table.tiny.floating-table.small-12.columns#listings_manage
    %tr
      %th Id
      %th Handle
      %th Title
      %th State
      %th Checkout
      %th Share
      %th Peeks
      %th Views
      %th Created
      %th Actions

    - @listings.each do |listing|
      - user = listing.user
      %tr.listing
        %td.data-cell= listing.id
        %td.name-cell= link_to user.handle.truncate(30), user_path(user)
        %td.title-cell= link_to listing.title.truncate(50), user_listing_path(user, listing)
        %td.data-cell= listing.state
        %td.data-cell= listing.checkout_option
        %td.data-cell= listing.facebook_shared? ? 'fb' : 'n/a'
        %td.data-cell= listing.peeks_count
        %td.data-cell= listing.views_count
        %td.date-cell #{time_ago_in_words(listing.created_at)} ago
        %td.data-cell
          = link_to 'delete', "/api/v1/listings/#{listing.id}?token=#{current_user.auth_token}", class: 'listing-delete', data:{confirm: "Are you sure you want to delete #{listing.title.truncate(10)}", remote: true, method: :delete}

  = paginate @listings