.row
  .new-listing.small-8.columns.small-centered
    %h3.text-center= @title
    = form_for(@listing, as: :listing, html: {class: "form-validation listing-edit", :'data-user-id' => current_user.id.to_i, :'data-listing-id' => @listing.id.to_i}) do |f|
      .rounded-panel
        .listing-field
          %label What is it?
          .small-12.columns.no-padding{class: "category-wrapper", :'data-category-level' => 1, :'data-category-name' => @category.try(:name)}
            = render(partial: "listings/edit_categories", locals: {categories: @root1_categories, selected: @category, prompt: "Reptile Categories", level: 1})
          .small-12.columns.no-padding{class: "category-wrapper", :'data-category-level' => 2, :'data-category-name' => @subcategory.try(:name)}
            = render(partial: "listings/edit_categories", locals: {categories: @root2_categories, selected: @subcategory, prompt: "Reptile Sub-Category", level: 2})
        %hr
        .listing-field
          %label Title
          = f.text_field :title, autofocus: false, required: true, class: "", placeholder: "Try to describe your reptile the way a buyer would."
        %hr
        .listing-field
          %label Photos
          %ul
            %li Use up to 5 different images to better increase the chances of selling.
            %li Recommended image size is 600 x 400.
          %ul.image-grid.small-block-grid-5
            - i = 0
            - @images.each_with_index do |image, index|
              = render(partial: "listings/edit_current_image", locals: {image: image})
              - i += 1
            = render(partial: "listings/edit_new_image")
            - i += 1
            - while i < 5
              = render(partial: "listings/edit_empty_image")
              - i += 1
        %hr
        .listing-field
          %label Description
          = f.text_area :description, autofocus: false, required: true, class: "", placeholder: "Try to answer the questions buyers will have. Tell the reptile's story and explain why it's special."
        %hr 
        .listing-field
          %label Price
          .small-3.columns{:style => "padding: 0;"}
            = f.text_field :price, autofocus: false, required: true, class: "numeral price", placeholder: "$0.00", :'data-number' => @listing.price
        %hr
        = f.submit @save_title, class: 'button'