- content_for :title, @title

= render partial: "layouts/header_search"

.row
  - if @breeders.present?
    = render partial: "breeders/breeder_widget"
  
  / - if !user_signed_in?
  /   .small-12.columns
  /     = render partial: "listings/guest_message"

  %h5 Recent Listings
  %ul.list-grid.small-block-grid-4
    - @recent_general.each do |listing|
      = render(partial: "listings/listing_tile", locals: {listing: listing, user: listing.user})

  - @recent_categories.shuffle.each do |mash|
    - if mash.listings.any?
      %h5= link_to "Recent #{mash.category.name}", listing_category_path(mash.category.name.parameterize)
      %ul.list-grid.small-block-grid-4
        - mash.listings.each do |listing|
          = render(partial: "listings/listing_tile", locals: {listing: listing, user: listing.user})
