- if !user_signed_in?
  = render partial: "listings/guest_message"

.row
  .listing-panel
    .listing-images.small-7.columns
      .main-image
        -# = image_tag "http://placehold.it/600/400"
        = image_tag cloudinary_url(@main_image.full_public_id, transformation: [{width: 600, height: 400, crop: 'fit'}])

      .more-images
        %ul.image-grid.small-block-grid-5
          - @other_images.each do |image|
            %li 
              -# = image_tag "http://placehold.it/110/80"
              = image_tag cloudinary_url(image.full_public_id, transformation: [{width: 110, height: 80, crop: 'fit'}])

      %ul.tabs
        %li.active
          %a Description
        %li
          %a Reviews
        %li
          %a Shipping & Policies
      .tab-container
        .description
          %p= @listing.description
        .shipping.hide
          %p This is a description

    .listing-aside.small-5.columns
      %h3= @listing.title
      %h1= number_to_currency(@listing.price.to_f/100.0, precision: 2)
      %a.button.contact-seller{:href => "#"} Contact Seller