- if !user_signed_in?
  = render partial: "listings/guest_message"

.row
  .list-panel
    .listing-images.small-7.columns
      .main-image
        -# = image_tag "http://placehold.it/600/400"
        = image_tag cloudinary_url(@main_image.full_public_id, transformation: [{width: 600, crop: 'fit'}])

      .more-images
        %ul.image-grid.small-block-grid-5
          - @all_images.each do |image|
            %li 
              -# = image_tag "http://placehold.it/110/80"
              = image_tag cloudinary_url(image.full_public_id, transformation: [{width: 110, height: 80, crop: 'fill'}])

      %ul.tabs
        %li.active
          %a Description
        %li
          %a Reviews
        %li
          %a Shipping & Policies
      .tab-container
        .description
          %p= @listing.description
        .shipping.hide
          %p This is a description

    .listing-aside.small-5.columns
      .category-breadcrumbs
        %span
          - if @category.present?
            = link_to @category.name, listing_category_path(@category.name.parameterize)
            - if @subcategory.present?
              %i.icon.ion-ios7-arrow-forward
              = link_to @subcategory.name, listing_category_path(@category.name.parameterize, @subcategory.name.parameterize)
      %h4= @listing.title
      %h1= number_to_currency(@listing.price.to_f/100.0, precision: 2)

      - if @listing.sold?
        .button.sold-button
          This reptile has sold
      - elsif current_user.try(:id) == @user.id
        = link_to 'Edit Listing', user_edit_listing_path(@user, @listing.id), class: 'button edit-listing'
        = link_to 'Mark as Sold', user_edit_listing_path(@user, @listing.id), class: 'button edit-listing remove-button'
      - else
        = link_to 'Checkout with Paypal', paypal_start_path(listing_id: @listing.id), class: 'button buy-button'
        = link_to 'Report Listing', "#", class: 'remove-link'

      .social-links
        .fb-share-button{"data-type" => "button_count"}
        %a.twitter-share-button{"data-lang" => "en", :href => "https://twitter.com/share"} Tweet
        :javascript
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

      .user-widget
        .author-image.small-2.columns
          = image_tag user_avatar_image_thumbnail(@user.avatar_image)
        .author-name.small-10.columns
          %h5= link_to @user.handle, user_path(@user)
          %p Chicago, IL
        .author-bio.small-12.columns
          %p= @user.about
          
        - if false
          .more-from-author.small-12.columns
            %span More from <strong>#{@user.handle}</strong>
            .more-listings
              %ul.small-block-grid-2
                - 2.times do
                  %li
                    %a{:href => "/JoshFabian/listings/2"}
                      .listing-panel
                        %img{:alt => "Gfg2qswl0dogh96i2jlv", :src => "https://res.cloudinary.com/tegu/image/upload/c_fill,h_200,w_235/v1401302146/gfg2qswl0dogh96i2jlv.jpg"}
                          .listing-info
                            .title
                              Amazing Tegu
    #fb-root
    :javascript
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));