.row
  .listing-panel
    .listing-images.small-7.columns
      .main-image
        = image_tag "http://placehold.it/600/400"
      .more-images
        %ul.image-grid.small-block-grid-5
          %li 
            = image_tag "http://placehold.it/110/80"
          %li 
            = image_tag "http://placehold.it/110/80"
          %li 
            = image_tag "http://placehold.it/110/80"
          %li 
            = image_tag "http://placehold.it/110/80"
          %li 
            = image_tag "http://placehold.it/110/80"
      %ul.tabs
        %li.active
          %a Description
        %li
          %a Reviews
        %li
          %a Shipping & Policies
      .tab-container
        .description
          %p This is a description
        .shipping.hide
          %p This is a description

    .listing-aside.small-5.columns
      %h3 This is a TEGU TITLE
      %h1 $149.99
      %a.button.contact-seller{:href => "#"} Contact Seller