- content_for :facebook_meta_tags do
  %meta{property: "og:title", content: @listing.title}
  %meta{property: "og:site_name", content: "Fauna"}
  %meta{property: "og:url", content: url_for(only_path: false)}
  %meta{property: "og:description", content: @listing.description}
  %meta{property: "og:image", content: cloudinary_url(@main_image.full_public_id)}
  %meta{property: "fb:app_id", content: FACEBOOK_APP_ID}


- if !user_signed_in?
  = render partial: "listings/guest_message"

.row
  - if @message.present?
    - if @message == 'canceled'
      %div.alert-box.alert{:'data-alert' => ''}
        Your payment was canceled
    - elsif @message.match(/purchase|sold/)
      %div.alert-box.success{:'data-alert' => ''}
        Your payment is complete

  .list-panel
    .listing-images.small-7.columns
      .main-image
        -# image is filled via js
        = image_tag nil, "itemprop" => "image"

      .more-images
        %ul.image-grid.small-block-grid-5
          - @all_images.each do |image|
            %li{:'data-image-url' => cloudinary_url(image.full_public_id), :'data-transform' => "c_fit,w_600"}
              = image_tag cloudinary_url(image.full_public_id, transformation: [{width: 110, height: 80, crop: 'fill'}])
      .small-12.columns
        %ul.pills{:'data-tab' => ""}
          %li.tab-title.active{:'data-pill' => 'description'}
            %a{href: "#"} Description
          %li.tab-title{:'data-pill' => 'reviews'}
            %a{href: "#"} Reviews
          %li.tab-title{:'data-pill' => 'shipping'}
            %a{href: "#"} Shipping
        .pills-content
          #description.content
            %p{:itemprop=>"description"}= @listing.description
          #reviews.content.hide
            - if @reviews.present?
              = render(partial: "reviews/review_widget", locals: {reviews: @reviews})
            - else
              = render(partial: "reviews/review_empty")
          #shipping.content.hide
            = render(partial: "listings/shipping_tab")

    .listing-aside.small-5.columns
      .category-breadcrumbs
        %span
          - if @category.present?
            = link_to @category.name, listing_category_path(@category.name.parameterize)
            - if @subcategory.present?
              %i.icon.ion-ios7-arrow-forward
              = link_to @subcategory.name, listing_category_path(@category.name.parameterize, @subcategory.name.parameterize)

      %h4{:itemprop=>"alternateName"}= @listing.title
      %h1
        = number_to_currency(@listing.price.to_f/100.0, precision: 2)

      - if @listing.sold?
        = render(partial: 'listings/listing_checkout_sold')
      - elsif current_user.try(:id) == @listing.user_id
        = render(partial: 'listings/listing_checkout_edit')
      - else
        = render(partial: 'listings/listing_checkout_buy')

      .social-links
        .fb-share-button{"data-type" => "button_count"}
        %a.twitter-share-button{"data-lang" => "en", :href => "https://twitter.com/share"} Tweet
        :javascript
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

      = render(partial: "listings/listing_user_widget")

      -# subtotal disabled
      -# %hr
      -# 
      -# .small-12.columns.no-padding
      -#   %ul
      -#     %li.checkout-subtotal
      -#       .small-9.columns.text-right
      -#         subtotal:
      -#       .small-3.columns.text-left.price
      -#         = number_to_currency(@listing.price/100.0)
      -#     %li.checkout-shipping
      -#       .small-9.columns.text-right
      -#         shipping:
      -#       .small-3.columns.text-left.price
      -#     %li.checkout-total
      -#       .small-9.columns.text-right
      -#         %strong Total:
      -#       .small-3.columns.text-left.price
      -#         %strong

  .more-listings
    %h5 More Listings
    %ul.small-block-grid-4
      - @other_listings.each do |listing|
        = render(partial: "listings/listing_tile", locals: {listing: listing, user: listing.user})

  = render(partial: 'listings/listing_message_modal')
  = render(partial: 'listings/listing_report_modal')

  #fb-root
  :javascript
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
