.landing-page
  .scrolling-background-container
    .scrolling-bg.animate-background
  .row
    .email-block.small-8.small-centered.columns
      = image_tag "landing-logo.jpg", :class => "landing-logo"
      %h4 We're changing the way you buy and sell reptiles online.
              
      .landing-form.small-11.columns.small-centered
        .user-email-form-wrapper
          -# step 1: Submit email
          = render partial: "user_email_form"

        .user-role-form-wrapper{style: 'display: none;'}
          -# step 2: After email has submitted email
          = render partial: "user_role_form"

      .user-invite-friends-form-wrapper{style: 'display: none;'}
        -# step 3:
        = render partial: "user_invite_friends"
    = render partial: "social_buttons"