.row
  -if @me and !@user.profile_complete?
    .small-12.columns.no-padding
      %p.welcome-message
        %strong Welcome to Fauna!
        You're almost done, just
        = link_to "complete your profile", "#", :class => "edit-link"

  .review-column.small-8.columns.no-padding-left
    .recent-listing
      - if @total_listings > 0
        = render(partial: "users/user_recent_listings")

    - if feature(:user_feed)
      .user-feed
        // User Comment
        .update-panel.rounded-panel
          .small-12.columns
            .user-image
              %a{:href => "/joshfabian"}
                %img{:alt => "Erwgafk32jurq5wvgmiz", :src => "https://res.cloudinary.com/tegu/image/upload/c_fill,h_200,w_200/v1406127507/erwgafk32jurq5wvgmiz.jpg"}
            .user-info
              %h4.story-title
                %a{:href => "/joshfabian"} JoshFabian
                %span 
                  Followed 2 new users
              %p.secondary
                %span#ember928.ember-view 1 day ago
          .comment-content.small-12.columns.clearfix
            .listing-embed
              %ul.small-block-grid-2
                - 2.times do
                  %li
                    %a{:href=>"#"}
                      .follow-panel
                        .listing-aside.small-12.columns
                          %img{:alt => "Erwgafk32jurq5wvgmiz", :src => "https://res.cloudinary.com/tegu/image/upload/c_fill,h_200,w_200/v1406127507/erwgafk32jurq5wvgmiz.jpg"}
                          %h5{:itemprop => "alternateName"} Test

          .panel-footer.small-12.columns
            .footer-button
              %a{:href => "#"}
                %i.icon.ion-heart
                0
            .footer-button
              %a{:href => "#"}
                %i.icon.ion-reply
                reply
        = render(partial: "users/user_stories")
    - else
    
    .feedback
      - if @recent_reviews.present?
        = render(partial: "reviews/review_widget", locals: {reviews: @recent_reviews})
      - else
        -# Empty state
        = render(partial: "reviews/review_empty")

  .profile-sidebar.small-4.columns
    .rounded-panel
      .padding-wrapper
        %h5 About
      %hr
      .padding-wrapper
        .user-info.edit-hide
          - if @user.about.present? or @user.city_state.present? or @user.phone.present? or @user.website.present?
            = render(partial: "users/user_about")
          - else
            -# empty state
            = render(partial: "users/user_about_empty")
        .edit-show
          = f.text_area :about, placeholder: "About you"
          = f.text_field :phone, placeholder: "Phone Number", class: 'digits'
          = f.text_field :website, placeholder: "Website", class: 'url'
          = f.text_field :city, placeholder: "City", class: ''
          = f.text_field :state_code, placeholder: "State", class: 'state_code'

    .rounded-panel.user-trust
      = render(partial: "users/user_home_trust")