.row
  -if @me and !@user.profile_complete?
    .small-12.columns.no-padding
      %p.welcome-message
        %strong Welcome to Fauna!
        You're almost done, just
        = link_to "complete your profile", "#", :class => "edit-link"
  .profile-sidebar.small-12.medium-4.medium-push-8.columns
    .rounded-panel
      .padding-wrapper
        %h5 About
      %hr
      .padding-wrapper
        .user-info.edit-hide
          - if @user.about.present? or @user.city_state.present? or @user.phone.present? or @user.website.present?
            = render(partial: "users/user_about")
          - else
            -# empty state
            = render(partial: "users/user_about_empty")
        .edit-show
          = f.text_area :about, placeholder: "About you"
          = f.text_field :phone, placeholder: "Phone Number", class: 'digits'
          = f.text_field :website, placeholder: "Website", class: 'url'
          = f.text_field :city, placeholder: "City", class: ''
          = f.text_field :state_code, placeholder: "State", class: 'state_code'
    .rounded-panel.user-trust
      = render(partial: "users/user_home_trust")
  .review-column.small-12.medium-8.columns.medium-pull-4.no-padding-left
    .recent-listing
      - if @total_listings > 0
        = render(partial: "users/user_recent_listings")

    .user-feed
      = render(partial: "stories/story_post_status")
