- listing = Listing.find(story.id)
- image = listing.primary_image
- user = listing.user
- comments = listing.comments

.update-panel.rounded-panel
  .small-12.columns
    .user-image
      = link_to user_path(user) do
        = image_tag user_avatar_image_thumbnail(user.avatar_image, 200)
    .user-info
      %h4.story-title
        = link_to user.handle, user_path(user)
        %span Created a new listing
      %p.secondary
        %span#ember928.ember-view #{time_ago_in_words(listing.created_at)} ago

  .comment-content.small-12.columns.clearfix
    .listing-embed
      .list-panel
        .listing-images.small-6.columns
          .main-image
            = image_tag cloudinary_url(image.full_public_id, transformation: [{width: 300, crop: 'fit'}]), itemprop: "image"
        .listing-aside.small-6.columns
          -# .category-breadcrumbs
            -# %span
            -#   %a{:href => "/listings/lizards"} Lizards
            -#   %i.icon.ion-ios7-arrow-forward
            -#   %a{:href => "/listings/lizards/chameleons"} Chameleons
          %h5{:itemprop => "alternateName"}= listing.title
          %h2= number_to_currency(listing.price.to_f/100.0, precision: 2)
          = link_to "View Listing", user_listing_path(user, listing), :class => "view-embedded-listing"

  .panel-footer.small-12.columns
    .footer-button
      = link_to '#', class: 'object-like' do
        %i.icon.ion-heart
        0
    .footer-button
      = link_to '#', class: 'object-comment' do
        %i.icon.ion-reply
        reply

  -# comments
  .comment-section.small-12.columns{class: [comments.any? ? '' : 'hide']}
    .panel-input
      %input.status-form{placeholder: "Write something...", rows: "1", :'data-object-id' => listing.id, :'data-object-type' => 'listing'}
    - comments.each do |comment|
      = render(partial: "users/user_story_comment", locals: {comment: comment})
