- post = Post.find(story.id)
- user = post.user
- comments = post.comments.order('id desc')

.update-panel.rounded-panel
  .small-12.columns
    .user-image
      = link_to user_path(user) do
        = image_tag user_avatar_image_thumbnail(user.avatar_image, 200)
    .user-info
      %h4.story-title
        = link_to user.handle, user_path(user)
      %p.secondary
        %span#ember928.ember-view #{time_ago_in_words(post.created_at)} ago

  .comment-content.small-12.columns.clearfix
    %p.comment-text
      = post.body

  .panel-footer.small-12.columns
    .footer-button
      %a{:href => "#"}
        %i.icon.ion-heart
        = post.comments_count
    .footer-button
      %a{:href => "#"}
        %i.icon.ion-reply
        reply
    %ul.who-liked
      %li.liked
        %a{:href=>"#"}
          %img.tip-top{"data-tooltip" => "", :title => "JoshFabian", :src => "http://res.cloudinary.com/tegu/image/upload/c_fill,h_200,w_200/v1405184238/avatar_default.jpg"}
      %li.liked
        %a{:href=>"#"}
          %img.tip-top{"data-tooltip" => "", :title => "JoshFabian", :src => "http://res.cloudinary.com/tegu/image/upload/c_fill,h_200,w_200/v1405184238/avatar_default.jpg"}
      %li.more-liked
        %span +10 more

  -# comments
  .comment-section.small-12.columns
    .panel-input
      %input.status-form{placeholder: "Write something...", rows: "1", :'data-object-id' => post.id, :'data-object-type' => 'post'}
    - comments.each do |comment|
      = render(partial: "users/user_story_comment", locals: {comment: comment})
      