.row
  .text-center
    %h5
      #{User.count} Users

  %table.tiny.small-12.columns#users
    %tr
      %th Id
      %th Email
      %th Handle
      %th Facebook
      %th Roles
      %th Listings
      %th Trial
      %th Plans
      %th Credits
      %th Signup At
      %th Actions

    - @users.each do |user|
      %tr.user
        %td= user.id
        %td= user.email
        %td= link_to user.handle, user_path(user)
        %td= user.oauths.present? ? 'yes' : 'no'
        %td= user.roles.map(&:to_s).join(',')
        %td= user.listings.count
        %td= user.trial? ? 'yes' : 'no'
        %td= user.subscriptions.collect{|o| o.plan.try(:name)}.join(', ') rescue ''
        %td
          = user.listing_credits
          %span.right= link_to '+1', '#', class: 'listing-credits-add', :'data-user-id' => user.id
        %td #{time_ago_in_words(user.created_at)} ago
        %td
          = user.id == current_user.id ? 'me' : link_to('become', become_user_path(user.id))

  = paginate @users