- content_for :title, @title

.row
  .text-center
    %h5
      #{User.count} Users
      == :
      #{User.with_roles(:seller).count} Sellers
      == :
      #{Listing.active.count} Listings

  %table.tiny.small-12.columns#users
    %tr
      %th Id
      %th Handle:Email
      %th Facebook
      %th Roles
      %th Verified
      %th Listings
      %th Sold
      %th Followers
      %th Wall
      %th Trial
      %th Credits
      %th Signup
      %th Actions

    - @users.each do |user|
      - facebook_oauth = user.facebook_oauth
      %tr.user
        %td= user.id
        %td.name-cell
          = link_to user.handle, user_path(user)
          %br
          = user.email
        %td.data-cell= facebook_oauth.present? ? (facebook_oauth.facebook_share_permission? ? 'share' : 'basic') : "no"
        %td.data-cell= user.roles.map{ |s| s.to_s[0] }.join(',')
        %td.data-cell= user.verified? ? 'yes' : 'no'
        %td.data-cell= user.listings.active.count
        %td.data-cell= user.listings.sold.count
        %td.data-cell= user.followers_count
        %td.data-cell= user.wall_comments_count + user.wall_likes_count
        %td.data-cell= user.trial? ? 'yes' : 'no'
        %td
          = user.listing_credits
          %span.right= link_to '+1', '#', class: 'listing-credits-add', :'data-user-id' => user.id
        %td.date-cell #{time_ago_in_words(user.created_at)} ago
        %td.data-cell
          = user.id == current_user.id ? 'me' : link_to('become', become_user_path(user.id))

  = paginate @users