- content_for :title, "Admin Manage Users"

.row
  .text-center
    %h5
      #{User.count} Users
      == :
      #{Listing.active.count} Listings

  %table.tiny.small-12.columns#users
    %tr
      %th Id
      %th Handle:Email
      %th Facebook
      %th Roles
      %th Followers
      %th Verified
      %th Listings
      %th Sold
      %th Trial
      %th Plans
      %th Credits
      %th Signup
      %th Actions

    - @users.each do |user|
      %tr.user
        %td= user.id
        %td{style: 'width: 130px !important;'}
          = link_to user.handle, user_path(user)
          %br
          = user.email
        %td= user.oauths.present? ? "yes" : "no"
        %td= user.roles.map(&:to_s).join(',')
        %td= user.followers_count
        %td= user.verified? ? 'yes' : 'no'
        %td= user.listings.active.count
        %td= user.listings.sold.count
        %td= user.trial? ? 'yes' : 'no'
        %td= user.subscriptions.collect{|o| o.plan.try(:name)}.join(', ') rescue ''
        %td
          = user.listing_credits
          %span.right= link_to '+1', '#', class: 'listing-credits-add', :'data-user-id' => user.id
        %td{style: 'width: 100px !important;'} #{time_ago_in_words(user.created_at)} ago
        %td
          = user.id == current_user.id ? 'me' : link_to('become', become_user_path(user.id))

  = paginate @users