- content_for :title, @title

.row
  .page-title
    %h3 Manage Listings
  .listing-nav.small-12.columns
    %ul.pills{:'data-tab' => ""}
      %li.tab-title{class: [@state == 'active' ? 'active' : nil]}
        %a{href: url_for(state: 'active')} Active Listings
      %li.tab-title{class: [@state == 'removed' ? 'active' : nil]}
        %a{href: url_for(state: 'removed')} Removed Listings
      %li.tab-title{class: [@state == 'sold' ? 'active' : nil]}
        %a{href: url_for(state: 'sold')} Sold Listings
    -# .listing-search
      -# .search
      -#   %form.search-form{"accept-charset" => "UTF-8", :action => "/listings/search", :method => "post"}
      -#     %div{:style => "margin:0;padding:0;display:inline"}
      -#       %input{:name => "utf8", :type => "hidden", :value => "✓"}
      -#         %input{:name => "authenticity_token", :type => "hidden", :value => "L0V8zrryY0oVAfKd24EMQaok+d2qGvjlYNu3bZ25IP4="}/
      -#     %input#_query{:name => "query", :placeholder => "Search ...", :type => "text"}
      -#       %i.icon.ion-ios7-search-strong

  .listing-subhead
    %header.global-subhead
      .row
        %ul.inline-list
          - Category.roots.order("position asc").each do |category|
            %li{class: [@category_id.to_i == category.id ? 'active' : nil]}= link_to category.name, url_for(category_id: category.id, state: @state)

  - if @listings.blank?
    .small-12.columns.no-padding
      .rounded-panel
        .padding-wrapper
          .review
            %h3.text-center No Listings Found!
            %p.text-center
              Start selling on Fauna -
              = link_to "Create a Listing", new_listing_path

  - else
    .small-12.columns.no-padding
      .pills-content
        #active-listings.content.active
          .rounded-panel
            %table.floating-table.small-12.columns
              %tbody
                %tr
                  %th
                  %th Name
                  %th Price
                  %th List Date
                  %th Removed Date
                  %th Sold Date
                  %th
                - @listings.each do |listing|
                  - image = listing.primary_image
                  %tr
                    %td.thumb-cell
                      = image_tag listing_image_thumbnail(image, 40)
                    %td.title-cell.small-text
                      = link_to listing.title.truncate(30), user_listing_path(@user, listing)
                    %td= number_to_currency(listing.price/100.0)
                    %td.date-cell.small-text
                      = listing.created_at.to_s(:date_dow_ddmmyyyy)
                    %td.date-cell.small-text
                      - if listing.removed_at.present?
                        = listing.removed_at.to_s(:date_dow_ddmmyyyy) rescue 'n/a'
                      - elsif listing.active?
                        = link_to 'Remove Listing', '#', class: 'mark-remove', :'data-listing-id' => listing.id
                    %td.date-cell.small-text
                      - if listing.sold_at.present?
                        = listing.sold_at.to_s(:date_dow_ddmmyyyy) rescue 'n/a'
                      - elsif listing.active?
                        = link_to 'Mark as Sold', '#', class: 'mark-sold', :'data-listing-id' => listing.id
                    %td.small-text
                      - if listing.active?
                        = link_to 'Edit Listing', edit_listing_path(listing.id)

    