.row
  .page-title
    %h3 Manage Listings
  .listing-nav.small-12.columns
    %ul.pills{:'data-tab' => ""}
      %li.tab-title{class: [@state == 'active' ? 'active' : nil]}
        %a{href: url_for(state: 'active')} Active Listings
      %li.tab-title{class: [@state == 'sold' ? 'active' : nil]}
        %a{href: url_for(state: 'sold')} Sold Listings
    -# .listing-search
      -# .search
      -#   %form.search-form{"accept-charset" => "UTF-8", :action => "/listings/search", :method => "post"}
      -#     %div{:style => "margin:0;padding:0;display:inline"}
      -#       %input{:name => "utf8", :type => "hidden", :value => "✓"}
      -#         %input{:name => "authenticity_token", :type => "hidden", :value => "L0V8zrryY0oVAfKd24EMQaok+d2qGvjlYNu3bZ25IP4="}/
      -#     %input#_query{:name => "query", :placeholder => "Search ...", :type => "text"}
      -#       %i.icon.ion-ios7-search-strong

  .listing-subhead
    %header.global-subhead
      .row
        %ul.inline-list
          - Category.roots.order("position asc").each do |category|
            %li{class: [@category_id == category.id ? 'active' : nil]}= link_to category.name, url_for(category_id: category.id, state: @state)

  .small-12.columns.no-padding
    .pills-content
      #active-listings.content.active
        .rounded-panel
          %table.floating-table.small-12.columns
            %tbody
              %tr
                %th
                %th Name
                %th Price
                %th List Date
                %th Sold Date
                %th
              - @listings.each do |listing|
                - image = listing.primary_image
                %tr
                  %td.thumb-cell
                    = image_tag listing_image_thumbnail(image, 40)
                  %td.name-cell
                    = link_to listing.title, user_listing_path(@user, listing)
                  %td= number_to_currency(listing.price/100.0)
                  %td= listing.created_at.to_s(:date_dow_ddmmyyyy)
                  %td= listing.sold_at.to_s(:date_dow_ddmmyyyy) rescue 'n/a'
                  %td.text-right
                    %small{style: 'font-size: 0.85em;'}
                      - if listing.active?
                        - if listing.editable?
                          = link_to 'Edit Listing', edit_listing_path(listing)
                        = link_to 'Mark as Sold', '#', class: 'mark-sold', :'data-listing-id' => listing.id

      #sold-listings.content
          
    