- follower = user_follow.user
- following = user_follow.following

.update-panel.rounded-panel{:'data-story-id' => story.id, :'data-story-klass' => story.type, id: "story_#{story.type}_#{story.id}"}
  .small-12.columns
    .user-image
      = link_to image_tag(user_avatar_image_thumbnail(follower.avatar_image, 80)), user_path(follower)
    .user-info
      %h4.story-title
        = link_to follower.handle, user_path(follower)
        %span
          started following
      %p.secondary
        %span #{time_ago_in_words(user_follow.created_at)} ago
  .comment-content.small-12.columns.clearfix
    .listing-embed
      %ul.small-block-grid-2
        - [following].each do
          %li
            = link_to user_path(following) do
              .follow-panel
                .listing-aside.small-12.columns
                  = image_tag(user_avatar_image_thumbnail(following.avatar_image, 100))
                  %h5{:itemprop => following.handle}= following.handle

  .panel-footer.small-12.columns
    -# .footer-button
    -#   %a{:href => "#"}
    -#     %i.icon.ion-heart
    -#     0
    -# .footer-button
    -#   %a{:href => "#"}
    -#     %i.icon.ion-reply
    -#     reply