- user = listing.user
- comments = listing.comments.order('id desc')
- me = listing.user_id == current_user.try(:id)
- image = listing.primary_image
- like = ListingLike.like?(listing, current_user)
- more_likes = ListingLike.likes(listing).order("id desc").limit(2)
- plus_likes = listing.likes_count - 2

.update-panel.rounded-panel{:'data-story-id' => story.id, :'data-story-klass' => story.type, id: "story_#{story.type}_#{story.id}"}
  .small-12.columns
    .user-image
      = link_to user_path(user) do
        = image_tag user_avatar_image_thumbnail(user.avatar_image, 200)
    .user-info
      %h4.story-title
        = link_to user.handle, user_path(user)
        %span created a new listing
      %p.secondary
        %span #{time_ago_in_words(listing.created_at)} ago

  .comment-content.small-12.columns.clearfix
    .listing-embed
      .list-panel
        .listing-images.small-6.columns
          .main-image
            = link_to user_listing_path(user, listing) do
              = image_tag listing_image_story(image), itemprop: "image"
        .listing-aside.small-6.columns
          -# .category-breadcrumbs
            -# %span
            -#   %a{:href => "/listings/lizards"} Lizards
            -#   %i.icon.ion-ios7-arrow-forward
            -#   %a{:href => "/listings/lizards/chameleons"} Chameleons
          %h5{:itemprop => "alternateName"}= listing.title
          %h2= number_to_currency(listing.price.to_f/100.0, precision: 2)
          = link_to "View Listing", user_listing_path(user, listing), :class => "view-embedded-listing"

  .panel-footer.small-12.columns
    .footer-button
      = link_to '#', class: ['object-like', like ? 'active' : nil], :'data-object-id' => listing.id, :'data-object-klass' => 'listing' do
        %i.icon.ion-heart
        = listing.likes_count
    .footer-button
      = link_to '#', class: ['object-comment'] do
        %i.icon.ion-reply
        reply
    - if me and feature(:story_facebook_share)
      .footer-button
        = link_to '#', class: ['object-facebook-share'], :'data-object-id' => listing.id, :'data-object-klass' => 'listing' do
          %i.icon.ion-social-facebook
          share
      - if me and listing.facebook_shared?
        .footer-button
          = link_to 'javascript:void(0)', class: [] do
            shared
    %ul.who-liked
      - more_likes.each do |like|
        - user = like.user
        %li.liked
          = link_to user_path(user) do
            = image_tag user_avatar_image_thumbnail(user.avatar_image, 50), title: user.handle, class: 'tip-top', :'data-tooltip' => ''
      - if plus_likes > 0
        %li.more-liked
          %span +#{plus_likes} more

  -# comments
  = render(partial: "stories/story_comments", locals: {object: listing, comments: comments})
