- user = post.user
- comments = post.comments.order('id desc')
- me = post.user_id == current_user.try(:id)
- like = PostLike.like?(post, current_user)
- more_likes = PostLike.likes(post).order("id desc").limit(2)
- plus_likes = post.likes_count - 2

.update-panel.rounded-panel{:'data-story-id' => story.id, :'data-story-klass' => story.type, id: "story_#{story.type}_#{story.id}"}
  .small-12.columns
    .user-image
      = link_to user_path(user) do
        = image_tag user_avatar_image_thumbnail(user.avatar_image, 200)
    .user-info
      %h4.story-title
        = link_to user.handle, user_path(user)
      %p.secondary
        %span #{time_ago_in_words(post.created_at)} ago

  .comment-content.small-12.columns.clearfix
    %p.comment-text
      - begin
        = auto_link(post.body, html: {target: '_blank'})
      - rescue Exception => e
        = post.body

  .panel-footer.small-12.columns
    .footer-button
      = link_to '#', class: ['object-like', like ? 'active' : nil], :'data-object-id' => post.id, :'data-object-klass' => 'post' do
        %i.icon.ion-heart.active
        = post.likes_count
    .footer-button
      = link_to '#', class: ['object-comment'] do
        %i.icon.ion-reply
        reply
    - if me and feature(:story_facebook_share)
      .footer-button
        = link_to '#', class: ['object-facebook-share', PostShare.facebook_shareable?(post) ? 'facebook-share-permission' : 'facebook-basic-permission'], :'data-object-id' => post.id, :'data-object-klass' => 'post' do
          %i.icon.ion-social-facebook
          share
    - if me and post.facebook_shared?
      .footer-button
        = link_to 'javascript:void(0)', class: [] do
          shared
    %ul.who-liked
      - more_likes.each do |like|
        - user = like.user
        %li.liked
          = link_to user_path(user) do
            = image_tag user_avatar_image_thumbnail(user.avatar_image, 50), title: user.handle, class: 'tip-top', :'data-tooltip' => ''
      - if plus_likes > 0
        %li.more-liked
          %span +#{plus_likes} more

  -# comments
  = render(partial: "stories/story_comments", locals: {object: post, comments: comments})
      