.row
  .rounded-panel.small-6.columns.small-centered
    .text-center
      %h3 Verify your phone number
    %br
    %p This is <strong>completely free</strong> and fast.

    %p We will text message your mobile number and you'll be given a code. Once you enter this code on the next screen, we'll verify that it's the same as the one you were given and then you'll be verified.

    %p We perform this verification for the safety of everyone on Fauna. Your phone number will not be publicly available, and we won't use it for any marketing or pass it on to anyone who will do so.

    = form_for Waitlist.new, url: twilio_sms_send_path, html: {class: "form-validation"} do |f|
      = text_field_tag 'to', nil, placeholder: "Enter your mobile phone number", class: 'required digits verification', minLength: 10, maxLength: 10
      %input.form-button{:type => "submit", :value => "Send Verification Code"}
%br
%br
.row
  .rounded-panel.small-6.columns.small-centered
    .text-center
      %h3 Verification code
    %br
    %p After receiving the text message, enter the verification code.

    = form_for Waitlist.new, url: twilio_sms_send_path, html: {class: "form-validation"} do |f|
      = text_field_tag 'to', nil, placeholder: "Enter Verification Code", class: 'required digits verification', minLength: 10, maxLength: 10
      %input.form-button{:type => "submit", :value => "Verify Phone Number"}
    %p.verify-help 
      Didn't receive a message? 
      = link_to "Try again", "#"