.row
  .text-center
    %h4 #{PhoneToken.count} SMS Tokens

  %table.tiny.small-12.columns
    %tr
      %th Id
      %th To
      %th Code
      %th State

    - @tokens.each do |token|
      %tr
        %td= token.id
        %td= token.to
        %td= token.code
        %td= token.state