.row
  .text-center
    %h5
      #{Payment.count} Payments
      &nbsp;:&nbsp;
      #{Payment.completed.count} Completed

  %table.small-12.columns.tiny
    %tr
      %th Id
      %th Buyer
      %th State
      %th Seller
      %th Listing
      %th Key
      %th Timestamp
      %th Listing Price
      %th Shipping Price

    - @payments.each do |payment|
      - buyer = payment.buyer
      - listing = payment.listing
      - seller = listing.user
      %tr
        %td= payment.id
        %td= buyer.handle
        %td= payment.state
        %td= seller.handle
        %td= link_to listing.title, user_listing_path(seller, listing)
        %td= payment.exception? ? payment.error_message : payment.key
        %td #{time_ago_in_words(payment.completed? ? payment.completed_at : payment.created_at) rescue ''} ago
        %td= number_to_currency(payment.listing_price/100.0)
        %td= number_to_currency(payment.shipping_price/100.0)
