- if @reviewed
  .row
    .small-12.columns.no-padding
      .alert-box.alert.round{:'data-alert' => ''}
        You have already left a review for this listing

.row
  .small-12.columns
    %h3.page-title Review your purchase
  .product-review-details.small-6.columns
    .main-image
      = image_tag cloudinary_url(@listing.primary_image.full_public_id, transformation: [{width: 600, crop: 'fit'}])
    .tab-container
      = @listing.description
    .view-listing
      = link_to "view full listing", user_listing_path(@user, @listing)
  .small-6.columns
    = form_for Review.new, url: '#', html: {class: 'form-validation listing-review', :'data-listing-id' => @listing.id, :'data-user-id' => @listing.user_id} do |f|
      .rounded-panel
        %h6
          Review
          = link_to @user.handle, user_path(@user)
        %h4= @listing.title
        %hr
        .star-rating-input
          %label Did this animal match what was advertised?
          .small-12.columns.no-padding
            .star-rating
              = radio_button('rating', 'description', 5, checked: false, class: 'required', name: 'ratings[description]')
              %label{for: "rating_description_5", title: "5 stars"}
              = radio_button('rating', 'description', 4, checked: false, class: 'required', name: 'ratings[description]')
              %label{for: "rating_description_4", title: "4 stars"}
              = radio_button('rating', 'description', 3, checked: false, class: 'required', name: 'ratings[description]')
              %label{for: "rating_description_3", title: "3 stars"}
              = radio_button('rating', 'description', 2, checked: false, class: 'required', name: 'ratings[description]')
              %label{for: "rating_description_2", title: "2 stars"}
              = radio_button('rating', 'description', 1, checked: false, class: 'required', name: 'ratings[description]')
              %label{for: "rating_description_1", title: "1 star"}
        %hr
        .star-rating-input
          %label How was the sellers communication?
          .small-12.columns.no-padding
            .star-rating
              = radio_button('rating', 'communication', 5, checked: false, class: 'required', name: 'ratings[communication]')
              %label{for: "rating_communication_5", title: "5 stars"}
              = radio_button('rating', 'communication', 4, checked: false, class: 'required', name: 'ratings[communication]')
              %label{for: "rating_communication_4", :title => "4 stars"}
              = radio_button('rating', 'communication', 3, checked: false, class: 'required', name: 'ratings[communication]')
              %label{for: "rating_communication_3", :title => "3 stars"}
              = radio_button('rating', 'communication', 2, checked: false, class: 'required', name: 'ratings[communication]')
              %label{for: "rating_communication_2", :title => "2 stars"}
              = radio_button('rating', 'communication', 1, checked: false, class: 'required', name: 'ratings[communication]')
              %label{for: "rating_communication_1", :title => "1 star"}
        %hr
        .star-rating-input
          %label Was the animal shipped safely and arrive in good health?
          .small-12.columns.no-padding
            .star-rating
              = radio_button('rating', 'shipping', 5, checked: false, class: 'required', name: 'ratings[shipping]')
              %label{for: "rating_shipping_5", title: "5 stars"}
              = radio_button('rating', 'shipping', 4, checked: false, class: 'required', name: 'ratings[shipping]')
              %label{for: "rating_shipping_4", title: "4 stars"}
              = radio_button('rating', 'shipping', 3, checked: false, class: 'required', name: 'ratings[shipping]')
              %label{for: "rating_shipping_3", title: "3 stars"}
              = radio_button('rating', 'shipping', 2, checked: false, class: 'required', name: 'ratings[shipping]')
              %label{for: "rating_shipping_2", title: "2 stars"}
              = radio_button('rating', 'shipping', 1, checked: false, class: 'required', name: 'ratings[shipping]')
              %label{for: "rating_shipping_1", title: "1 star"}
        %hr
        .experience-form
          %label Tell others about your experience
          = f.text_area :body, placeholder: "Briefly discuss what you liked or didn't like about this experience.", class: 'required'
          - if !@reviewed
            = f.submit "Share Review", class: 'button'
