= content_for :stripe do
  = javascript_include_tag "https://checkout.stripe.com/checkout.js"
  :javascript
    var stripe_publish_key = "#{Settings[Rails.env]["stripe_publish_key"]}";
    var stripe_image = "http://res.cloudinary.com/tegu/image/upload/c_scale,h_200,w_200/v1405107208/fauna_net_nfhfgx.png"

.row
  .account-page.small-8.small-centered.columns
    .rounded-panel
      .account-avatar
        = image_tag "http://www.placehold.it/60/60"
      .account-header
        %h3 Hello, #{current_user.handle}!
      -# .account-navigation
      -#   %ul.inline-list
      -#     %li= link_to "Personal", "#"
      -#     %li= link_to "Listing Credits", "#", :class => "active"
      -#     %li= link_to "Delete Account", "#"
      .account-tagline.text-center
        %h4 Pay as you go or upgrade to Pro.
        %p Take your Fauna experience to the next level. No contracts. Cancel anytime.
      .pricing-blocks
        .small-6.columns.no-padding-left
          .lined-panel
            %h3 Pay as you go
            %h6 You have <strong>#{current_user.listing_credits}</strong> listing credits.
            %hr
            = form_for Payment.new, url: "#", html: {class: "form-validation plan-credits"} do |f|
              .payment-option
                - @credit_plans.each do |plan|
                  .small-12.columns.no-padding
                    = radio_button("plan", "id", plan.id, class: 'required plan-credits-radio', :'data-plan-amount' => plan.amount, :'data-plan-id' => plan.id, :'data-plan-subscription' => plan.subscription, :'data-plan-name' => plan.name)
                    %label{for: "plan_id_#{plan.id}"} #{plan.name} - #{number_to_currency(plan.amount/100.0, precision: 2)}

                %a.button.secondary.plan-submit{:href => "#"}
                  %i.icon.ion-ios7-locked-outline
                  Buy Credits

        .small-6.columns.no-padding-right
          .lined-panel
            %h3 Pro
            .price
              .dollar $
              .amount 39
              .period /month
            %ul
              %li 
                %i.icon.ion-android-checkmark
                Unlimited Listings

            %hr
            = form_for Payment.new, url: "#", html: {class: "form-validation plan-subscriptions"} do |f|
              .payment-option
                - @subscription_plans.each do |plan|
                  .small-12.columns.no-padding
                    = radio_button("plan", "id", plan.id, class: 'required plan-subscriptions-radio', :'data-plan-amount' => plan.amount, :'data-plan-interval' => plan.interval, :'data-plan-id' => plan.id, :'data-plan-subscription' => plan.subscription, :'data-plan-name' => plan.name)
                    %label{for: "plan_id_#{plan.id}"} #{plan.name}

                -# .small-12.columns.no-padding
                -#   %input#yearly{:name => "plan", :type => "radio", :value => "yearly"}
                -#     %label{:for => "yearly"} Pay Yearly (20% off!)
              %a.button.plan-submit{:href => "#"} 
                %i.icon.ion-ios7-locked-outline
                Upgrade


