= content_for :stripe do
  = javascript_include_tag "https://checkout.stripe.com/checkout.js"
  :javascript
    var stripe_publish_key = "#{Settings[Rails.env]["stripe_publish_key"]}";
    var stripe_email = "#{current_user.try(:email)}"
    var stripe_image = "http://res.cloudinary.com/tegu/image/upload/c_scale,h_200,w_200/v1405107208/fauna_logo.png"

= content_for :title, @title

.row
  .account-page.medium-8.medium-centered.columns
    .rounded-panel
      .account-avatar
        = image_tag user_avatar_image_thumbnail(current_user.avatar_image, 120)
      .account-header
        %h3 Hello, #{current_user.handle}!
      .account-tagline.text-center
        %h4 Pay as you go or upgrade to Pro.
        %p Take your Fauna experience to the next level. No contracts. Cancel anytime.
      .pricing-blocks
        .medium-6.columns.no-padding-left
          .lined-panel
            %h3 Pay As You Go
            %hr
            = form_for Payment.new, url: "#", html: {class: "form-validation plan-credits"} do |f|
              .payment-option
                - @credit_plans.each do |plan|
                  .small-12.columns.no-padding
                    = radio_button("plan", "id", plan.id, class: 'required plan-credits-radio', :'data-plan-id' => plan.id)
                    %label{for: "plan_id_#{plan.id}"}
                      = plan.name
                      - if plan.savings.present?
                        %span{style: 'color: #e74c3c;'} (save #{plan.savings})

                %a.button.secondary.plan-submit{:href => "#"}
                  %i.icon.ion-ios7-locked-outline
                  Buy Credits

        .medium-6.columns.no-padding-right
          .lined-panel
            %h3 Pro
            -# = render(partial: 'plans/details', locals: {plan: @subscription_plans.last})
            .pro-details
            %hr
            = form_for Payment.new, url: "#", html: {class: "form-validation plan-subscriptions"} do |f|
              .payment-option
                - @subscription_plans.each do |plan|
                  .small-12.columns.no-padding
                    = radio_button("plan", "id", plan.id, class: 'required plan-subscriptions-radio', :'data-plan-id' => plan.id)
                    %label{for: "plan_id_#{plan.id}"}
                      = plan.name
                      - if plan.savings.present?
                        %span{style: 'color: #00f;'} (save #{plan.savings})

              %a.button.plan-submit{href: "#"}
                %i.icon.ion-ios7-locked-outline
                Upgrade

    .policy-text.text-center
      All sales are final.
