%footer.global-footer
  .row
    .small-12.columns.no-padding
      .footer-logo
        = link_to listings_path do
          = image_tag "landing-logo.jpg", :class => "header-logo"
      %ul.inline-list.social-icons 
        %li
          .fb-like{"data-action" => "like", "data-href" => "https://www.facebook.com/faunamarketplace", "data-layout" => "button_count", "data-share" => "false", "data-show-faces" => "false"}
        %li
          = link_to "https://twitter.com/FaunaMarket" do
            %i.icon.ion-social-twitter
        %li
          = link_to "https://www.facebook.com/faunamarketplace" do 
            %i.icon.ion-social-facebook

    .small-12.columns.no-padding
      .copyright
        TM + © 2014 Fauna, Inc. All rights reserved. 

      %ul.inline-list.legal-links
        -# %li= link_to "About", about_us_path
        %li= link_to "Contact", "mailto:support@fauna.net"
        %li= link_to "TOS", about_terms_path
        %li= link_to "Privacy", about_privacy_path
:css
  #listing-slider {
    width: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;  
    user-select: none;
  }
  .royalSlider img {
    width: 100%;
    height: auto;
  }

#contentSlider.content-slider{:style=>"overflow:auto;"}
  .slider-wrapper
    #closeButton.close-button
      %a{:onclick => "closeSlider()"}
        %i.icon.ion-close
    
    .row
      .list-panel
        .listing-images.small-7.columns
          #listing-slider.royalSlider.rsDefault.rsHor.rsWithThumbs.rsWithThumbsHor{:style => "height: 516.8865979381443px;"}
            .rsOverflow{:style => "cursor: -webkit-grab; width: 583px; height: 435px;"}
              .rsContainer{:style => "-webkit-transition: 0s; transition: 0s; -webkit-transform: translate3d(0px, 0px, 0px);"}
                .rsSlide{:style => "left: 0px;"}
                  %img.rsImg.rsMainSlideImage{:src => "https://res.cloudinary.com/tegu/image/upload/c_crop,h_2840,w_3783,x_796,y_0/c_fit,w_600/v1406650640/ebn41uizx8m9edwwdww2.jpg", :style => "visibility: visible; -webkit-transition: opacity 400ms ease-in-out; transition: opacity 400ms ease-in-out; width: 569px; height: 427px; margin-left: 7px; margin-top: 4px; opacity: 1;"}/
                .rsSlide{:style => "left: 591px;"}
                  %img.rsImg.rsMainSlideImage{:src => "https://res.cloudinary.com/tegu/image/upload/c_crop,h_2806,w_3737,x_1190,y_0/c_fit,w_600/v1406650775/uilgyt37byzz6em33qji.jpg", :style => "width: 569px; height: 427px; margin-left: 7px; margin-top: 4px;"}/
                .rsSlide{:style => "left: 1182px;"}
                  %img.rsImg.rsMainSlideImage{:src => "https://res.cloudinary.com/tegu/image/upload/c_crop,h_2863,w_3813,x_932,y_189/c_fit,w_600/v1406650830/vmjtgpkltfgxlygik0uy.jpg", :style => "width: 569px; height: 427px; margin-left: 7px; margin-top: 4px;"}/
              .rsFullscreenBtn
                .rsFullscreenIcn
              .rsArrow.rsArrowLeft.rsArrowDisabled.rsHidden{:style => "display: block;"}
                .rsArrowIcn
              .rsArrow.rsArrowRight.rsHidden{:style => "display: block;"}
                .rsArrowIcn
            .rsNav.rsThumbs.rsThumbsHor{:style => "padding-top: 5px; padding-bottom: 5px;"}
              .rsThumbsContainer{:style => "-webkit-transition: -webkit-transform; transition: -webkit-transform; -webkit-transform: translate3d(5px, 0px, 0px); width: 404px;"}
                .rsNavItem.rsThumb.rsNavSelected{:style => "margin-right:5px;"}
                  %img.rsTmb{:alt => "Ebn41uizx8m9edwwdww2", :src => "https://res.cloudinary.com/tegu/image/upload/c_crop,h_2840,w_3783,x_796,y_0/c_fit,w_600/v1406650640/ebn41uizx8m9edwwdww2.jpg"}
                    %span.thumbIco
                .rsNavItem.rsThumb{:style => "margin-right:5px;"}
                  %img.rsTmb{:alt => "Uilgyt37byzz6em33qji", :src => "https://res.cloudinary.com/tegu/image/upload/c_crop,h_2806,w_3737,x_1190,y_0/c_fit,w_600/v1406650775/uilgyt37byzz6em33qji.jpg"}
                    %span.thumbIco
                .rsNavItem.rsThumb{:style => "margin-right:5px;"}
                  %img.rsTmb{:alt => "Vmjtgpkltfgxlygik0uy", :src => "https://res.cloudinary.com/tegu/image/upload/c_crop,h_2863,w_3813,x_932,y_189/c_fit,w_600/v1406650830/vmjtgpkltfgxlygik0uy.jpg"}
                    %span.thumbIco
                .rsNavItem.rsThumb{:style => "margin-right:5px;"}
                  %img.rsTmb{:alt => "Yozmudpanfil811ehkxs", :src => "https://res.cloudinary.com/tegu/image/upload/c_crop,h_2831,w_3770,x_879,y_432/c_fit,w_600/v1406650884/yozmudpanfil811ehkxs.jpg"}
                    %span.thumbIco
              .rsThumbsArrow.rsThumbsArrowLeft.rsThumbsArrowDisabled
                .rsThumbsArrowIcn
              .rsThumbsArrow.rsThumbsArrowRight.rsThumbsArrowDisabled
                .rsThumbsArrowIcn
          .small-12.columns
            %ul.pills{"data-tab" => ""}
              %li.tab-title.active{"data-pill" => "description"}
                %a{:href => "#"} Description
              %li.tab-title{"data-pill" => "reviews"}
                %a{:href => "#"} Reviews
              %li.tab-title{"data-pill" => "shipping"}
                %a{:href => "#"} Shipping
            .pills-content
              #description.content
                %p{:itemprop => "description"}
                %p Junior x Pangea
                %p JrxP1
                %p This gecko is incredibly creamy for its size.  Wasn't expecting this much pinning out of this pair but I am not complaining! Expect the lateral pattern to grow tremendously.
                %p
              #reviews.content.hide
                .rounded-panel
                  .padding-wrapper
                    %h5 Recent Feedback
                    %hr
                      .padding-wrapper
                        .review
                          %h3.text-center No Feedback Yet!
                          %p.text-center Feedback will be updated when this user sells a listing on Fauna.
              #shipping.content.hide
                %h5
                  Ships from
                  %span.highlight Coral Springs, Florida
                %p Ready to Ship in 1 business day
                %table.shipping-table
                  %thead.tabbed
                    %tr.column-headers
                      %th.shipping-destination Ship To
                      %th.shipping-primary-price Cost
                  %tbody
                    %tr
                      %td.shipping-destination US
                      %td.shipping-primary-price
                        %span.currency-value $50.00
                        %span.currency-code USD
                    %tr
                      %td.shipping-destination International
                      %td.shipping-primary-price
                        %span Not available
                    %tr
                      %td.shipping-destination Local
                      %td.shipping-primary-price
                        %span Not available
        .listing-aside.small-5.columns
          .category-breadcrumbs
            %span
              %a{:href => "/listings/lizards"} Lizards
              %i.icon.ion-ios7-arrow-forward
              %a{:href => "/listings/lizards/geckos"} Geckos
          %h4{:itemprop => "alternateName"} Extreme Harlequin Partial Pinstripe Crested Gecko
          %h1
            $200.00
          %select#listing_shipping_to.shipping-selector.shipping-dropdown{"data-listing-id" => "148", :name => "listing[shipping_to]"}
            %option{:value => ""} Select Shipping
            %option{"data-shipping-price" => "50", :value => "US"} US : $50
          .error-state.hide Please select a shipping option.
          %a.button.buy-button.checkout.secondary.disabled.track-listing-view{"data-listing-id" => "148", :href => "#"} Checkout with Paypal
          .small-12.columns.no-padding
          %a.button.ask-question{"data-reveal-id" => "listing-message-modal", :href => "#"} Ask a question
          %a.remove-link{"data-reveal-id" => "listing-report-modal", :href => "#"} Report Listing
          %a.remove-link.admin{"data-reveal-id" => "listing-flag-modal", :href => "#"} Flag
          .social-links
            .fb-share-button.fb_iframe_widget{"data-type" => "button_count", "fb-iframe-plugin-query" => "app_id=&amp;href=http%3A%2F%2Fwww.fauna.net%2Ftikisgeckos%2Flistings%2Fextreme-harlequin-partial-pinstripe-crested-gecko&amp;locale=en_US&amp;sdk=joey&amp;type=button_count", "fb-xfbml-state" => "rendered"}
              %span{:style => "vertical-align: bottom; width: 84px; height: 20px;"}
                %iframe{:allowtransparency => "true", :frameborder => "0", :height => "1000px", :name => "f2f2a13dac", :scrolling => "no", :src => "http://www.facebook.com/v2.0/plugins/share_button.php?app_id=&amp;channel=http%3A%2F%2Fstatic.ak.facebook.com%2Fconnect%2Fxd_arbiter%2FoDB-fAAStWy.js%3Fversion%3D41%23cb%3Df178761f64%26domain%3Dwww.fauna.net%26origin%3Dhttp%253A%252F%252Fwww.fauna.net%252Ffbd02436%26relation%3Dparent.parent&amp;href=http%3A%2F%2Fwww.fauna.net%2Ftikisgeckos%2Flistings%2Fextreme-harlequin-partial-pinstripe-crested-gecko&amp;locale=en_US&amp;sdk=joey&amp;type=button_count", :style => "border: none; visibility: visible; width: 84px; height: 20px;", :title => "fb:share_button Facebook Social Plugin", :width => "1000px"}
            %iframe#twitter-widget-1.twitter-share-button.twitter-tweet-button.twitter-share-button.twitter-count-horizontal{:allowtransparency => "true", "data-twttr-rendered" => "true", :frameborder => "0", :scrolling => "no", :src => "http://platform.twitter.com/widgets/tweet_button.1406859257.html#_=1407354211693&amp;count=horizontal&amp;id=twitter-widget-1&amp;lang=en&amp;original_referer=http%3A%2F%2Fwww.fauna.net%2Ftikisgeckos%2Flistings%2Fextreme-harlequin-partial-pinstripe-crested-gecko&amp;size=m&amp;text=Extreme%20Harlequin%20Partial%20Pinstripe%20Crested%20Gecko&amp;url=http%3A%2F%2Fwww.fauna.net%2Ftikisgeckos%2Flistings%2Fextreme-harlequin-partial-pinstripe-crested-gecko&amp;via=faunamarket", :style => "width: 107px; height: 20px;", :title => "Twitter Tweet Button"}
            :javascript
              !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
          .user-widget
            .author-image.small-3.columns
              %img{:alt => "Gubfql6z1765kwzugopl", :src => "https://res.cloudinary.com/tegu/image/upload/c_fill,h_240,w_240/v1406647763/gubfql6z1765kwzugopl.png"}
            .author-name.small-9.columns
              %h5
                %a{:href => "/tikisgeckos"} tikisgeckos
              / %p= @owner.city_state
              %a.button.follow-button.orange-button.track-user-profile-view.active{"data-follow-id" => "299", :href => "#"} Unfollow
            .author-bio.small-12.columns
              %p I am a reptile enthusiast who specializes in new caledonian geckos!
            .more-from-author.small-12.columns
              %span
                More from
                %strong tikisgeckos
              .more-listings
                %ul.small-block-grid-2
                  %li.listing.track-listing-peek{"data-listing-id" => "147"}
                    %a{:href => "/tikisgeckos/listings/patternless-solid-red-crested"}
                      .listing-panel
                        %img{:alt => "Njc5cpgcldjqfhna6vg4", :src => "https://res.cloudinary.com/tegu/image/upload/c_fill,h_200,w_235/v1406650147/njc5cpgcldjqfhna6vg4.jpg"}
                          .listing-info
                            .title
                              Patternless Solid Red Crested
                            .breeder
                              tikisgeckos
                            .price
                              $75.00
                  %li.listing.track-listing-peek{"data-listing-id" => "146"}
                    %a{:href => "/tikisgeckos/listings/tiger-brindle-crested-gecko"}
                      .listing-panel
                        %img{:alt => "H9dqdhmsc1c08coxst2k", :src => "https://res.cloudinary.com/tegu/image/upload/c_fill,h_200,w_235/v1406649534/h9dqdhmsc1c08coxst2k.jpg"}
                          .listing-info
                            .title
                              Tiger/brindle Crested Gecko
                            .breeder
                              tikisgeckos
                            .price
                              $75.00
      .more-listings
        %h5 More Listings
        %ul.list-grid.small-block-grid-4
          %li.listing.track-listing-peek{"data-listing-id" => "182"}
            %a{:href => "/kandegeckos/listings/group-of-5-crested-hatchlings"}
              .listing-panel
                %img{:alt => "Grhwbpteodl9wbpptzeg", :src => "https://res.cloudinary.com/tegu/image/upload/c_fill,h_200,w_235/v1407272937/grhwbpteodl9wbpptzeg.jpg"}
                  .listing-info
                    .title
                      Group Of 5 Crested Hatchlings!!!
                    .breeder
                      KandEgeckos
                    .price
                      $350.00
          %li.listing.track-listing-peek{"data-listing-id" => "181"}
            %a{:href => "/junglehousereptiles/listings/2013-firefly-female"}
              .listing-panel
                %img{:alt => "Ediblrft8dusuxt4wnty", :src => "https://res.cloudinary.com/tegu/image/upload/c_fill,h_200,w_235/v1407251193/ediblrft8dusuxt4wnty.jpg"}
                  .listing-info
                    .title
                      2013 Firefly Female
                    .breeder
                      junglehousereptiles
                    .price
                      $375.00
          %li.listing.track-listing-peek{"data-listing-id" => "180"}
            %a{:href => "/junglehousereptiles/listings/2010-lesser-male"}
              .listing-panel
                %img{:alt => "M4vke5tvu38mzvjsp6mr", :src => "https://res.cloudinary.com/tegu/image/upload/c_fill,h_200,w_235/v1407249141/m4vke5tvu38mzvjsp6mr.jpg"}
                  .listing-info
                    .title
                      2010 Lesser Male
                    .breeder
                      junglehousereptiles
                    .price
                      $200.00
          %li.listing.track-listing-peek{"data-listing-id" => "179"}
            %a{:href => "/junglehousereptiles/listings/2010-normal-females"}
              .listing-panel
                %img{:alt => "Hhww4ziwbvkcs7khfj4g", :src => "https://res.cloudinary.com/tegu/image/upload/c_fill,h_200,w_235/v1407248615/hhww4ziwbvkcs7khfj4g.jpg"}
                  .listing-info
                    .title
                      2010 Normal Females
                    .breeder
                      junglehousereptiles
                    .price
                      $100.00
  
:javascript
  function openSlider() {
    var translationValue = $(document).height() - $('#contentSlider').height() - 150;

    $(document.body).addClass('no-scroll');
    $('#contentSlider').addClass('active');
  }
  function closeSlider() {
    var translationValue = $(document).height() - $('#contentSlider').height() - 150;

    $(document.body).removeClass('no-scroll');
    $('#contentSlider').removeClass('active');
  }
  $(function() {

    var $close   = $("#closeButton"), 
        $window    = $("#contentSlider"),
        offset     = $close.offset(),
        topSpacing = 45;

    $window.scroll(function() {
      $close.stop().animate({
          top: $window.scrollTop() + topSpacing
      });
    }); 
  });