%footer.global-footer
  .row
    .small-12.columns.no-padding
      .footer-logo
        = link_to listings_path do
          = image_tag "landing-logo.jpg", :class => "header-logo"
      %ul.inline-list.social-icons 
        %li
          = link_to "https://twitter.com/FaunaMarket" do
            %i.icon.ion-social-twitter
        %li
          = link_to "https://www.facebook.com/faunamarketplace" do 
            %i.icon.ion-social-facebook

    .small-12.columns.no-padding
      .copyright
        TM + © 2014 Fauna, Inc. All rights reserved. 
      
      %ul.inline-list.legal-links
        %li= link_to "About", about_us_path
        %li= link_to "Contact", "mailto:support@fauna.net"
        %li= link_to "TOS", about_terms_path
        %li= link_to "Privacy", about_privacy_path