%header#globalHeader.global-head
  .row
    .left-nav
      = link_to listings_path do
        = image_tag "landing-logo.jpg", :class => "header-logo"
      .search
        = form_for "", url: listing_search_path, html: {class: "search-form"} do |f|
          = f.text_field 'query', name: 'query', value: @query, placeholder: 'Search ...'
          %i.icon.ion-ios7-search-strong
    .right-nav
      

      - if !user_signed_in?
        .guest-links
          = link_to "Login", login_path
          or
          = link_to "Register", login_path
      - else
        .header-username
          = link_to '#', :'data-dropdown' => 'drop1' do
            = current_user.handle
            %i.icon.ion-arrow-down-b
        .header-inbox{class: current_user.inbox_unread_count > 0 ? 'active' : nil}
          = link_to user_messages_path(current_user) do
            %i.icon.ion-android-inbox
            %span.counter= current_user.inbox_unread_count
        .header-cta
          = link_to new_listing_path, class: 'button' do
            .credit-count
              - if current_user.subscriptions_count > 0 or current_user.trial?
                -# subscriptions have infinite credits
                %i.icon.ion-ios7-infinite
              - else
                -# show bought credits
                = current_user.listing_credits
            .button-copy
              Sell
        %ul#drop1.f-dropdown{"data-dropdown-content" => ""}
          %li= link_to 'My Profile', user_path(current_user)
          %li= link_to 'My Settings', user_settings_path(current_user)
          %li= link_to 'Manage Listings', user_manage_listings_path(current_user)
          %li= link_to 'My Purchases', user_purchases_path(current_user)
          %li= link_to 'Plans', plans_path
          - if current_user.roles?(:admin)
            %li= link_to 'Manage Listings', manage_listings_path, class: 'admin'
            %li= link_to 'Manage Payments', payments_path, class: 'admin'
            %li= link_to 'Manage Plans', manage_plans_path, class: 'admin'
            %li= link_to 'Manage Reports', listing_reports_path, class: 'admin'
            %li= link_to 'Manage Users', users_path, class: 'admin'
            %li= link_to 'Manage Waitlist', waitlists_path, class: 'admin'
            - if !Rails.env.production?
              %li= link_to 'Welcome Modal', '#', class: 'open-welcome-message-modal admin'
          %li= link_to 'Logout', logout_path

= render(partial: "shared/welcome_modal")

-# site categories
%header#globalSubhead.global-subhead
  .row
    %ul.inline-list
      - Category.roots.order("position asc").each do |category|
        %li= link_to category.name, listing_category_path(category.slug), class: [@category.try(:name) == category.name ? 'active' : nil]

- if user_signed_in? and current_user.pending_listing_reviews > 0 
  = render(partial: "layouts/header_pending_listing_reviews", locals: {count: current_user.pending_listing_reviews})
