%header.global-head
  .row
    .left-nav
      = link_to reptiles_path do
        = image_tag "landing-logo.jpg", :class => "header-logo"
    .right-nav
      .search
        = form_for "", url: reptile_search_path, html: {class: "search-form"} do |f|
          = f.text_field 'query', name: 'query', placeholder: 'Search ...'
      - if !user_signed_in?
        .guest-links
          = link_to "LOGIN", login_path
          or
          = link_to "REGISTER", login_path

%header.global-subhead
  .row
    %ul.inline-list
      - Category.roots.order("position asc").each do |category|
        %li= link_to category.name, reptile_category_path(category.name.parameterize)
      -# %li= link_to "Boas", reptile_category_path('boas')
      -# %li= link_to "Colubrids", reptile_category_path('colubrids')
      -# %li= link_to "Venomous", reptile_category_path('venoumous')
      -# %li= link_to "Crocodilians", "#"
      -# %li= link_to "Lizards", "#"
      -# %li= link_to "Amphibians", "#"
      -# %li= link_to "Turtles & Tortoises", "#"