.scrolling-background-container.homepage.show-for-medium-up
  .container
    .search-form
      %h2 Hundreds of reptiles at your fingertips.
      .medium-7.columns.medium-centered.search-input
        .row.collapse
          = form_for "", url: listing_search_path, html: {class: "search-form"} do |f|
            .small-10.columns.input-wrapper
              = f.text_field 'query', name: 'query', value: @query, placeholder: 'What are you looking for?'
            .small-2.columns.button-wrapper
              = f.submit 'Search', class: 'button postfix'
      .row
        - if !user_signed_in?
          .medium-5.columns.medium-centered
            = link_to 'Reptile Products', "http://store.fauna.net", class: 'create-account'
            / = link_to 'Create an Account', login_path, class: 'create-account'
            = link_to 'Breeder Directory', breeders_path, class: 'breeder-button'
        -else
          .medium-5.columns.medium-centered
            = link_to 'Breeder Directory', breeders_path, class: 'breeder-button single'
  .scrolling-bg.animate-background