!!! 5
/ paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
/[if lt IE 7 ] <html class=\"ie6\" lang=\"en\">
/[if IE 7 ]    <html class=\"ie7\" lang=\"en\">
/[if IE 8 ]    <html class=\"ie8\" lang=\"en\">
/[if IE 9 ]    <html class=\"ie9\" lang=\"en\">
/[if (gt IE 9)|!(IE)] <!--> <html lang=\"en\">

%head
  %meta{ :charset => "utf-8" }

  %title= content_for?(:title) ? yield(:title) : "Fauna"

  -# Uncomment to make IE8 render like IE7
  -# meta http-equiv="X-UA-Compatible" content="IE=7"

  -# Set the viewport width to device width for mobile
  %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" } 

  -# turn turbolinks off
  = stylesheet_link_tag "application", media: "all"
  = javascript_include_tag "application"
  = cloudinary_js_config
  = csrf_meta_tag
  = render(partial: 'layouts/header_segmentio')

%body{'data-no-turbolink' => true}

  -# - if user_signed_in?
  -#   = render(:partial => 'layouts/header_user')
  -# - else
  -#   = render(:partial => 'layouts/header_guest') unless @no_header

  // Hacky fix for not showing header on landing page templates
  - if user_signed_in?
    = render partial: "layouts/header"
  = yield

  :javascript
    var current_user = #{current_user.id rescue 0};
    var current_roles = #{current_user.roles.map(&:to_s) rescue []};
    var auth_token = "#{current_user.auth_token rescue ''}";
    
